.cat-item {
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #000;
  position: relative;
  display: block;
  clear: both;
}

.cat-item .bgimgs {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  object-fit: cover;
}

.cat-item .cat-middle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 8rem;
  font-size: 22px;
  .category-name-box {
    text-align: center;
    border: solid 1px #FFFFFF;
    border-radius: 7px;
    margin: 0 3px;
  }
}
.cat-item .category-name{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  color: #fff;
  font-size: 24px;
}
.cat-item .cat-bottom {
    position: absolute;
    left: 3px;
    bottom: 3px;
    color: #fff;
    font-size: 20px;
}
@media (max-width: 768px) {
  .cat-item .cat-middle{
    font-size: 14px;
  }
  .cat-item .cat-bottom {
    font-size: 14px;
  }
  .cat-item .category-name{
    font-size: 16px;
  }
}
