.course-spot-box{
  color: #fff;
  .course-spot-head{
    font-size: 15px;
    font-weight: bold;
  }
  .category-names{
    text-align: center;
    border: solid 1px #FFFFFF;
    border-radius: 7px;
    padding: 8px;
    background-color: #080957;
    width: 190px;
    margin: auto;
  }
}

.course-head{
  font-family: Mr Eaves XL Mod OT;
  border-left: solid 3px #fff;
  p {
    font-size: 21px;
  }
}

.detail-btn{
  background-color: #FF297B!important;
}
