.our-guide-box{
  margin: 0px 6px 0px 6px;
  padding: 20px;
  background-color: #00D6DE;
  color: #fff;
  font-size: 17px;
}

.guide-name{

}
.guide-box{
  color: #fff;
}

.guide-img{
  border: solid 4px #fff;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .our-guide-box{
    font-size: 14px;
  }

  .guide-name{
    font-size: 15px;
  }

  .use-lunguages{
    font-size: 14px;
    font-weight: lighter;
  }
}
