// サブフッター
.sub-footer{
  background-color: #00C2D1;
  color: #fff;
}

.tariff{
  padding-top: 50px;
  font-size: 35px;
}

.money-box{
  margin: 0px 44px;
  padding: 10px 0px;
  font-size: 16px;
  font-weight: bold;
  border: solid 3px #7FF3FC;
  border-radius: 30px;
}

.fee-box{
  margin: 30px 25px;
  font-size: 17px;
  font-weight: bold;
}

.fee-details-box{
  margin: 0px 6px 0px 6px;
  padding: 20px;
  background-color: #00D6DE;
  color: #fff;
}

.fee-detail{
  font-size: 17px;
}

.list-btn-box{
  padding-bottom: 80px;
  a{
    color: #fff!important;
    text-directin: none;
  }
}

// footerで共有
.list-btn{
  position: relative;
  border-bottom: solid 1px #fff;
  margin: 0px 20px 5px 20px;
  font-size: 18px;
  padding: 17px 0px 10px 10px;
  list-style-type: none!important;
  font-weight: bold;
}

@media (max-width: 768px) {
  .tariff{
    font-size: 24px;
  }
  .fee-box{
    font-size: 13px;
  }
  .fee-detail{
    font-size: 14px;
  }
}
