body p{
  color: #fff;
}

.welcome-img{
  width: 100%;
  object-fit: contain;
  position: relative;
}

.welcome-text-box{
  position: absolute;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  p {
    font-size: 1.5em;
  }

}
.welcome-head {
  font-size: 31px;
  font-weight: bold;
  margin-bottom: 10px;
  p {
    color: #fff!important;
  }
}

.welcome-item{
  font-size: 12px;
  font-weight: bold;
  p {
    color: #fff!important;
    text-shadow: 1px 2px 3px #2B2830;
  }
}

.multi-course-box{
  padding-bottom: 30px;
  color: #fff;
  background-color: #000034;
  .multi-course-head{
    color: #FF297B;
    font-size: 40px;
    font-family: Mr Eaves XL Mod OT;
    margin-bottom: 20px;
    span{
      color: #A8BBFF;
    }
  }
}

.multi-course-detail{
  margin: 10px 0px 35px 0px;
  padding: 18px;
  background-color: #000052;
  font-size: 16px;
}

.for-trip{
  height: 90px;
}


.single-course-box{
  padding: 40px 0px 30px 0px;
  color: #fff;
  background-color: #330031;
  .single-course-head{
    font-size: 35px;
    font-family: Mr Eaves XL Mod OT;
    margin-bottom: 20px;
  }
}

.single-course-detail{
  margin: 10px 0px 35px 0px;
  padding: 18px;
  background-color: #4F054A;
  font-size: 16px;
}

.how_to_btn{
  font-family: Arial;
  color: #fff;
  background-color: #FF297B;
  border: solid 1px #fff;
  border-radius: 40px;
  margin-top: 33px;
  padding: 8px 25px;
  align-items: center;
  display: flex;
}

.course-box{
}

.box-head{
  position: absolute;
  font-family: Nanum Brush Script;
  font-size: 70px;
  top: -65px;
}

.box-sub-head{
  position: absolute;
  font-family: Nanum Brush Script;
  font-size: 30px;
  top: 5px;
}
.inner-two-hour-course-box{
  position: relative;
  background: linear-gradient(-135deg, #0A0A5B, #292955);
  border-radius: 10px;
  padding: 20px;
}

.inner-four-hour-course-box{
  position: relative;
  background: linear-gradient(-195deg, #013F42, #454E6B);
  border-radius: 10px;
  padding: 20px;
}

// 正方形にさせるcss
.adjust-box {
    position: relative;
    width: 100%;
    height: auto;
}
.square-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.course-img{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-box-time {
  font-weight: bold;
  font-size: 30px;
}

.course-box-head {
  font-weight: bold;
  font-size: 20px;
  color: #00B5EB;
}

.course-box-contents{
  word-wrap: break-word;
  font-size: 16px;
}

@media (max-width: 768px) {
  .multi-course-box .multi-course-head{
    font-size: 21px;
  }

  .single-course-box .single-course-head{
    font-size: 23px;
  }

  .single-course-detail{
    font-size: 14px;
  }

  .multi-course-detail{
    font-size: 12px;
  }

  .home{
    position: absolute;
    left: 3px;
    top: 6px;
  }

  .course-box-time {
    font-size: 20px;
  }

  .course-box-head {
    font-size: 16px;
  }

  .course-box-contents{
    font-size: 12px;
  }

  .box-head{
    font-size: 50px;
    top: -45px;
  }

  .box-sub-head{
    font-size: 26px;
    top: 6px;
  }

  .welcome-img{
    height: 350px;
    object-fit: cover;
  }

  .welcome-text-box{
    position: absolute;
    top:13em;
  	left: 50%;
    width: 74%;
  	transform: translate(-50%, -50%);
    p {
      font-size: 1em;
    }
  }

  .company-box{
    p {font-size: 13px;}
    h4 {font-size: 16px;}
    li {font-size: 13px;}
  }

  .for-trip{
    height: 55px;
  }
}
