%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "/admin"} LINE ADMIN
  %button.navbar-toggler{"aria-controls" => "Navber", "aria-expanded" => "false", "aria-label" => "ナビゲーションの切替", "data-target" => "#Navber", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #Navber.collapse.navbar-collapse.justify-content-end
    %ul.navbar-nav
      %li.nav-item.active
        = link_to 'アドミンから抜ける', root_path, class:'nav-link'
