.row
  .col-12
    = image_tag = image_tag current_user.image_url(:square_md), class:'user-img'
.row
  .col-sm-4
    %p 名前
  .col-sm-8
    %p= current_user.name
.row
  .col-sm-4
    %p メールアドレス
  .col-sm-8
    %p= current_user.email
