.container
  .row.mt-5
    .col-sm-3
      = render 'users/left_area'
    .col-sm-9
      -if @users.present?
        - @users.each do |user|
          .add-friend-box.mt-3
            = image_tag user.image_url(:square_md), class: 'user-img' if user.image.present?
            %h2.ml-3= user.name
            = link_to '友達になる！', rooms_path(user1_id: user.id, user2_id: current_user.id), method: :post, class:'btn btn-success add-btn'
      - else
        追加できる友達はいません。
