.container
  .row.mt-5
    .col-sm-3
      = render 'users/left_area'
    .col-sm-9
      #v-pills-tabContent.tab-content
        #v-pills-messages.tab-pane.fade.show.active{"aria-labelledby" => "v-pills-messages-tab", :role => "tabpanel"}
          = render 'rooms'
        #v-pills-profile.tab-pane.fade{"aria-labelledby" => "v-pills-profile-tab", :role => "tabpanel"}
          = render 'profile'
        #v-pills-home.tab-pane.fade{"aria-labelledby" => "v-pills-home-tab", :role => "tabpanel"}
          = render 'add_friend'
