.message-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
#message-box-flame {
  height: 70vh;
  overflow:auto;
  border: solid 1px #AAA;
  border-radius: 10px 10px 0px 0px;
}
.message-box {
  display: flex;
  flex-direction: column-reverse;
}

.my-message-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  .message-content-box {
    display: flex;
    padding: 10px;
    max-width: 75%;
    word-break: break-all;
    border-radius: 10px;
    background-color: #B4FF5A;
    height: fit-content;
  }
}

.partner-message-box {
  display: flex;
  align-items: flex-end;
  .message-content-box {
    display: flex;
    padding: 10px;
    max-width: 75%;
    word-break: break-all;
    border-radius: 10px;
    background-color: #DFE8D3;
    height: fit-content;
  }
}
