.message-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.my-message-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  .message-content-box {
    display: flex;
    padding: 10px;
    max-width: 75%;
    word-break: break-all;
    border-radius: 10px;
    background-color: #B4FF5A;
    height: fit-content;
  }
}

.partner-message-box {
  display: flex;
  align-items: flex-end;
  .message-content-box {
    display: flex;
    padding: 10px;
    max-width: 75%;
    word-break: break-all;
    border-radius: 10px;
    background-color: #DFE8D3;
    height: fit-content;
  }
}
