.row.pt-3
  .col-sm-4
    = link_to 'ルーム一覧へ', admin_rooms_path, class:'admin-link-box'
  .col-sm-4
    = link_to 'ユーザー一覧へ', admin_users_path, class:'admin-link-box'
  .col-sm-4
    = link_to 'メッセージ一覧へ', admin_messages_path, class:'admin-link-box'
