%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "/"} LINE
  %button.navbar-toggler{"aria-controls" => "Navber", "aria-expanded" => "false", "aria-label" => "ナビゲーションの切替", "data-target" => "#Navber", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #Navber.collapse.navbar-collapse.justify-content-end
    %ul.navbar-nav
      - if user_signed_in?
        %li.nav-item.active
          = link_to 'メッセージルームへ', root_path, class:'nav-link'
        %li.nav-item.active
          = link_to 'ログアウト', destroy_user_session_path, method: :delete,  class:'nav-link'
      -else
        %li.nav-item.active
          = link_to '新規登録', new_user_registration_path, class:'nav-link'
        %li.nav-item.active
          = link_to 'ログイン', new_user_session_path, class:' nav-link'
